<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <a class="navbar-brand" href="#">Hospital</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">

        <section class="Info">
          <div class="form-row">
            <div class="form-group col-md6">
              <img   src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=adult-beard-boy-casual-220453.jpg&fm=jpg" class="rounded mx-auto d-block">

            </div>
            <div class="form-group col-md6"></div>
            <p>AbdElrahman Nasr</p>

          </div>
        </section>

      </li>


    </ul>
  </div>
</nav>
